html, body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

.top {
    background-color: #1F2937;
}

.navbar {
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding-bottom: 100px;
}

.navitems {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding-top: 5px;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.header {
    font-size: 48px;
    font-weight: bolder;
}

.header, .logo {
    color: #F9FAF8
}

.subheader, .navitems {
    color: #E5E7EB;
}

.our-teachers {
    font-size: 36px;
    font-weight: 1000;
}

.button, .call-to-action-container, .action-button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.button, .action-button {
    font-weight: 600;
    border-radius: 5px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    border: none;

}

.action-button {
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
}
