html, body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.top-left, .top-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 100px;
}

.top-left {
    max-width: 500px;
}

.top-right {
    max-width: 500px;
    flex-shrink: 4;
}

img {
    width: 100%;
    border-radius: 5%;
}

.navitems {
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding-top: 5px;
    font-size: 18px;
    margin-bottom: 80px;
}

.subheader {
    margin-top: 10px;
    margin-bottom: 15px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 80px;
}

.header {
    font-size: 48px;
    font-weight: bolder;
}

.header, .logo {
    color: #F9FAF8
}

.subheader, .navitems {
    color: #E5E7EB;
}

.our-teachers {
    font-size: 36px;
    font-weight: 1000;
    text-align: center;
    margin: 50px;
}

.teacher {
    border: 4px solid;
    border-color: #3882F6;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.cards {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.card {
    max-width: 300px;
}

.button, .call-to-action-container, .action-button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.button, .action-button {
    width: 95px;
    font-weight: 600;
    border-radius: 5px;
    padding: 7px;
}

.button {
    border: none;

}

.action-button {
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
}
